header {
    position: fixed;
    width: 100%;
    box-shadow: 0 10px 50px rgb(0, 0, 0);
    z-index: 1;
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

header button{
    background: none;
    border: none;
    cursor: pointer;
}

.caixaHeader {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixaHeader img {
    width: 100px;
}

nav ul {
    font-size: 20px;
    list-style-type: none;
    font-family: 'Caprasimo', cursive;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(64, 116, 30);
    text-decoration: none;
}

#bannerMain {
    height: 400px;
}