#bannerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 500px;
    border-radius: 0px;
    filter: brightness(50%) blur(2px);
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner>#titleMain {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: rgb(40, 221, 0);
    text-shadow: 5px 5px 35px rgba(0, 0, 0, 0.5);
    text-align: center;

    width: 940px;
    padding: 0 20px;
    margin-bottom: 50px;
    z-index: 1;
    opacity: 0;
    animation: aparecerTitulo 1s forwards;
}

@keyframes aparecerTitulo {
    0% {
        opacity: 0;
        transform: translateY(-90%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner>#titleDesc {
    position: absolute;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 35px rgba(0, 0, 0, 0.5);
    text-align: center;

    width: 940px;
    margin-top: 200px;
    z-index: 1;
    opacity: 0;
    animation: aparecerDesc 1s forwards;
}

@keyframes aparecerDesc {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}