body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background: rgba(8, 242, 8, 0.216);
}

main {
    width: 940px;
    margin: 0 auto;
    margin-top: 50px;
}

section {
    padding: 0 10px;
    margin-bottom: 20px;
}

/*-------- Section Nossa Fazenda ---------- */

.sobreFazenda>h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #008000;
}

.missaoFazenda {
    display: flex;
    align-items: center;
}

.imgMissao {
    display: inline-block;
    height: 200px;
    width: 200px;
}

.missaoTextoFazenda {
    display: inline-block;
    margin-left: 50px;
}

.textoMissao {
    font-family: "Helvetica Roman", Arial, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
    display: inline-block;
}

.missaoFazenda h3 {
    font-family: "Helvetica Bold", Arial, Tahoma, sans-serif;
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
    color: #18350f;
}

.infraEstrutura {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.infraTextoFazenda {
    display: inline-block;
    margin-right: 50px;
}

.infraEstrutura h3 {
    font-family: "Helvetica Bold", Arial, Tahoma, sans-serif;
    font-size: 25px;
    text-align: right;
    margin: 0;
    margin-bottom: 10px;
    color: #18350f;
}

.imgInfraestrutura {
    display: inline-block;
    height: 200px;
    width: 200px;
}

.infraTexto {
    font-family: "Helvetica Roman", Arial, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
    margin-bottom: 10px;
}

.imagemFazenda {
    width: 100%;
    height: 350px;
    border: 4px solid #03ff03;
    box-shadow: 0 0 10px #008000;
    border-radius: 10px 10px 0 0;
}

.imagemGado {
    display: inline-block;
    width: 458px;
    height: 350px;
    border: 4px solid #03ff03;
    box-shadow: 0 0 10px #008000;
    border-radius: 0 0 0 10px;
}

.imagemGadoPasto {
    display: inline-block;
    width: 458px;
    height: 350px;
    border: 4px solid #03ff03;
    box-shadow: 0 0 10px #008000;
    border-radius: 0 0 10px 0;
}

figure.df-row {
    margin: 0;
    padding: 0;
}

/*------ Section Nossas Espécies ------*/

#secCarrossel>h1 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}

#secCarrossel h3 {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgba(22, 242, 22, 0.774);
}

input[type="radio"] {
    display: none;
}

.carrossel {
    display: flex;
    width: 920px;
    height: 420px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
}

.imagem {
    position: absolute;
    width: 520px;
    height: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.carrossel_imagens {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.textoCarrossel {
    position: absolute;
    display: none;
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif;
    width: 100%;
    height: 100%;
    text-align: justify;
    line-height: 1.5;
    padding: 30px;
    border-radius: 20px;
    color: white;
    background-color: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(5px) brightness(60%);
    transition: 1s all;
    opacity: 1;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.seta {
    position: absolute;
    top: 40%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    pointer-events: none;
    background-color: rgb(255, 255, 255, 0.500);
    z-index: 1;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 100%;
    border: none;
}

.anterior {
    left: 50px;
}

.proxima {
    right: 50px;
}

#item-1:checked~.carrossel_imagens #imagem-3,
#item-2:checked~.carrossel_imagens #imagem-1,
#item-3:checked~.carrossel_imagens #imagem-2 {
    transform: translatex(-50%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.carrossel_imagens #imagem-2,
#item-2:checked~.carrossel_imagens #imagem-3,
#item-3:checked~.carrossel_imagens #imagem-1 {
    transform: translatex(50%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.carrossel_imagens #imagem-1,
#item-2:checked~.carrossel_imagens #imagem-2,
#item-3:checked~.carrossel_imagens #imagem-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#item-1:checked~.carrossel_imagens #imagem-1 .textoCarrossel {
    display: block;
}

#item-2:checked~.carrossel_imagens #imagem-2 .textoCarrossel {
    display: block;
}

#item-3:checked~.carrossel_imagens #imagem-3 .textoCarrossel {
    display: block;
}

#item-1:checked~.carrossel_imagens #imagem-1 .textoCarrossel:hover {
    transition: 0.5s all;
    opacity: 0;
}

#item-2:checked~.carrossel_imagens #imagem-2 .textoCarrossel:hover {
    transition: 0.5s all;
    opacity: 0;
}

#item-3:checked~.carrossel_imagens #imagem-3 .textoCarrossel:hover {
    transition: 0.5s all;
    opacity: 0;
}

/*------------------------- Section Nosso Gado ----------------------------*/

#secSobreGado>h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #008000;

    text-align: center;
}

.sobreGado>p {
    font-family: "Helvetica Roman", Arial, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: bold;
    text-align: justify;
}

.sobreGado>h3 {
    font-size: 35px;
    margin-top: 20px;
    font-family: "Helvetica Bold", Arial, Tahoma, sans-serif;
    color: #18350f;
    text-align: left;
}

.sobreGado h4 {
    display: inline-block;
    font-size: 30px;
    font-family: "Helvetica Bold", Arial, Tahoma, sans-serif;
    color: #18350f;
    margin: 0;
}

.caixaEspecies {
    display: inline-block;
    text-align: center;
    justify-content: space-evenly;
    vertical-align: top;
    width: 300px;
    padding: 10px;
}

.sobreEspecies {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    align-items: center;
}

.caixaEspecies>p {
    display: inline-block;
    font-family: "Helvetica Roman", Arial, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
}

.sobreTotalBois {
    display: flex;
    align-items: center;
    justify-content: center;
}

#outBoisTotal {
    display: inline-block;
    font-family: "Helvetica Roman", Arial, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
    margin-left: 20px;
}

.totalBois {
    width: 200px;
}

.icone-boi {
    display: inline-block;
    width: 50px;
    object-fit: contain;
    border-radius: none;
}

.angus,
.nelore {
    width: 60px;
}