@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
    box-sizing: border-box;
}

html,
body,
main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 40px;
    font-family: 'Caprasimo', cursive;
    color: green;
}

#bannerMain {
    margin-top: 5em;
    height: 400px;
}

.textoCarrossel {
    position: absolute;
    display: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: justify;
    padding: 30px;
    border-radius: 10px;
    color: white;
    background-color: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(5px);
    transition: 1s all;
    opacity: 1;
}

h3 {
    text-align: center;
}

input[type="radio"] {
    display: none;
}

.imagem {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.carrossel {
    width: 100%;
    max-width: 1280px;
    max-height: 720px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.carrossel_imagens {
    position: relative;
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.seta {
    position: absolute;
    bottom: 280px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.253);
    z-index: 2;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 100%;
    border: none;
}

.anterior {
    left: 10px;
}

.proxima {
    right: 10px;
}

#item-1:checked~.carrossel_imagens #imagem-3,
#item-2:checked~.carrossel_imagens #imagem-1,
#item-3:checked~.carrossel_imagens #imagem-2 {
    transform: translatex(-50%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.carrossel_imagens #imagem-2,
#item-2:checked~.carrossel_imagens #imagem-3,
#item-3:checked~.carrossel_imagens #imagem-1 {
    transform: translatex(50%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.carrossel_imagens #imagem-1,
#item-2:checked~.carrossel_imagens #imagem-2,
#item-3:checked~.carrossel_imagens #imagem-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#item-1:checked~.carrossel_imagens #imagem-1 .textoCarrossel {
    display: block;
}

#item-2:checked~.carrossel_imagens #imagem-2 .textoCarrossel {
    display: block;
}

#item-3:checked~.carrossel_imagens #imagem-3 .textoCarrossel {
    display: block;
}

#item-1:checked~.carrossel_imagens #imagem-1 .textoCarrossel:hover {
    transition: 0.5s all;
    opacity: 0;
}

#item-2:checked~.carrossel_imagens #imagem-2 .textoCarrossel:hover {
    transition: 0.5s all;
    opacity: 0;
}

#item-3:checked~.carrossel_imagens #imagem-3 .textoCarrossel:hover {
    transition: 0.5s all;
    opacity: 0;
}