@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
    box-sizing: border-box;
}

html,
body,
main {
    margin: 0;
    padding: 0;
}

#principal {
    position: relative;
    margin-top: 100px;
    padding: 30px 0;
    margin-bottom: 0;
    min-height: 100vh;
    text-align: center;
    word-wrap: break-word;
}

h1 {
    font-size: 32px;
    background: linear-gradient(90deg, #025002, rgb(13, 243, 48));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Trebuchet MS', sans-serif;
}

#btFiltrarBoi {
    padding: 10px;
    font-family: Verdana, sans-serif;
    border-radius: 5px;
    border: none;
    background: linear-gradient(90deg, rgba(100, 255, 61, 0.846), rgba(6, 255, 118, 0.641));
    cursor: pointer;
    transition: background-color box-shadow 0.2s ease-in-out;
}

#btFiltrarBoi:hover {
    box-shadow: 0 0 0 2px rgb(35, 252, 6);
}

#btFiltrarBoi:active {
    background-color: rgba(1, 255, 1, 0.589);
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
}

#sltFiltroBoi {
    padding: 10px;
    font-family: Verdana, sans-serif;
    background: rgb(10, 234, 10);
    border-radius: 20px;    
    text-align: center;
    cursor: pointer;
}

#sltFiltroBoi > option {
    background: rgb(10, 234, 10);
}

.listagemBoi {
    width: 940px;
    margin: 0 auto;
}

#sltPeso {
    padding: 5px;
    font-family: Verdana, sans-serif;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.listagemBoi p {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.filtroPesoBoi p {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

#btCalcular {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#outPesqBoi {
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 10px;
}