* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(58, 195, 124), rgb(82, 222, 87));
    width: 100%;
    height: 100px;
    box-shadow: 0 5px 20px rgb(0, 0, 0);
    z-index: 2;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}


header button{
    background: none;
    border: none;
    cursor: pointer;
}

.caixaHeader {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixaHeader img {
    width: 120px;
    border-radius: 0px;
}

nav ul {
    font-size: 20px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: 'Caprasimo', cursive;
}

nav ul li {
    margin: 0 10px;
}

header a {
    color: #000000;
    position: relative;
    text-decoration: none;
}

header a.logo-imagem::after {
    height: 0;
}

header a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 4px;
    background-color: rgb(2, 2, 2);
    transition: width 0.4s ease-in-out;
}

header a:hover::after {
    width: 100%;
}