* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.df-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.df-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(58, 195, 124), rgb(82, 222, 87));
    width: 100%;
    height: 80px;
    box-shadow: 0 0px 10px rgb(0, 0, 0);
    z-index: 2;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
}

.caixaHeader {
    width: 1400px;
    margin: 0 auto;
    justify-content: space-around;
}

.caixaHeader img {
    width: 70px;
    padding-top: 4px;
    border-radius: none;
}

nav ul {
    font-size: 12px;
    list-style-type: none;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li {
    margin: 0 10px;
}

header a {
    color: #000000;
    position: relative;
    text-decoration: none;
}

header a.logo-imagem::after {
    height: 0;
}

header a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 25px;
    width: 0;
    height: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 12px #000000de;
    background-color: #008000;
    transition: width 0.4s;
}

header a:hover::after {
    width: 100%;
}

header li.pg-atual a::after {
    background-color: #008000;
    border-radius: 5px;
    box-shadow: 0 5px 12px #000000de;
    top: 25px;
    height: 5px;
    width: 100%;
}