* {
    box-sizing: border-box;
}

.df-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    background: linear-gradient(rgb(0, 102, 0), rgb(0, 71, 4))
}

footer img {
    padding: 20px 0;
    width: 120px;
}

.logoFazenda>h1 {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: left;
    font-size: 30px;
    margin: 0;
    margin-left: 10px;
    padding-right: 20px;
    border-right: 2px solid #ffffff;
    -webkit-text-fill-color: white;
    color: white;
}

footer p {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin: 0;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.950);
}

.copyright {
    font-family: 'Merriweather Sans', sans-serif;
    padding: 20px 0;
    background: #003e00;
    color: white;
}